/* 	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
		IMPORT ADDITIONAL SHEETS
	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

	@import url("./reset.css");



/* 	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
		BODY, WRAPPINGS, ANCHORS, anything sitewide
	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
		
	body {
	    font-family: Helvetica, Verdana, Arial, sans-serif;
		}

		#wrapper {
			width: 900px;
			margin: 60px;
			background: #fff;
			}
		
		
		  
		  
		  
/* 	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
		HEADER
	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
	
	#header {
	   text-align: center;
	   }
	   
        h1 {
            font-weight: bold;
            font-size: 30px;
            }
	       
            h1 a { 
                color: #333; 
                text-decoration: none;
                background: #DDD;
                padding: 3px 6px;
                }
                
                h1 a:hover { color: #000; background: #CCC; }
			
		#blurb {
			width: 500px;
			font-size: 14px;
			line-height: 1.8em;
			margin: 40px 0;
			}
			
			#blurb a, a { color: #F66; text-decoration: none; }
			
				#blurb a:hover, a:hover { color: #800000; }
				
				
				


/* 	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
		THEMES
	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

	.theme {
		width: 375px;
		float: left;
		margin: 0 30px 30px 0;
		}
		
		.theme img {
			display: block;
			padding: 3px;
			border: 1px solid #000;
			margin: 0 0 10px;
			}
			
			.theme a:hover img { background: #F66; }
			
		.theme h2 {
			font-size: 15px;
			font-weight: bold;
			margin: 0 0 10px 0;
			}
			
			.theme h2 a { color: #000; text-decoration: none; }
			
				.theme h2 a:hover { color: #F66; }
			
		.theme p {
			font-size: 13px;
			line-height: 1.6em;
			}




/* 	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
		SINGLE
	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
	
	.single h2 {
		font-size: 20px;
		}
	
	.single h3 {
		margin: 30px 0 15px 0;
		font-weight: bold;
		font-size: 14px;
		}
	
	.single ul {
		font-size: 13px;
		margin: 15px 0;
		}
		
		.single ul li {
			margin: 0 0 10px 0;
			}
			
			
			
			
/* 	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
		FOOTER
	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
	
	#footer {
		clear: both;
		font-size: 12px;
		padding: 70px 0 40px 0;
		}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	













